.cover {
	position: relative;

	background: #000;
	color: #fff;

	&:before {
		@include cover;

		z-index: 2;

		background: rgba(#000, .25);
		content: "";
	}
}

.cover_figure {
	@include cover;

	margin: 0;
}

.cover_background {
	@include cover;

	object-fit: cover;
}

.cover_inner {
	@include row;

	position: relative;
	z-index: 4;

	padding-top: calc(4% + 40px);
	padding-bottom: calc(4% + 40px);
}

.cover_body {

	text-align: center;
}

.cover_title {
	@include h1;

	max-width: 900px;

	margin: 0 auto 22px;
}

.cover_caption {
	@include intro_text;

	max-width: 800px;

	margin: 0 auto;

	strong {
		display: block;
	}
}
