.gallery {
	@include space(true);

	overflow: hidden;
}

.gallery_inner {
	@include row;
}

.gallery_header {
	margin-bottom: 68px;
	text-align: center;
}

.gallery_title {
	@include h2;
	@include divider;

	color: $blacky;
	margin: 0 0 54px;

	&:after {
		margin: 12px auto 0;
	}
}

.gallery_caption {
	@include body_text;

	margin: 0;
}

.gallery_items {
	position: relative;

	.slick-list {
		margin: 0 -10px;
	}
}

.gallery_item {
	padding: 0 10px;
}

.gallery_figure {
	margin: 0;
}

.gallery_image {
	width: 100%;
}

.gallery_details {
	margin-top: 10px;
}

.gallery_index {
	@include caption_text;
}

.gallery_index_number {}

.gallery_index_label {}

.gallery_item_caption {
	@include caption_text;

	margin: 0;
}