.gallery-active {
	overflow: hidden;
}

.gallery {
	@include space(true);

	overflow: hidden;
}

.gallery_inner {
	@include row;
}

.gallery_header {
	margin-bottom: 68px;
	text-align: center;
}

.gallery_title {
	@include h2;
	@include divider;

	color: $blacky;
	margin: 0 0 54px;

	&:after {
		margin: 12px auto 0;
	}
}

.gallery_caption {
	@include body_text;

	margin: 0;
}

.gallery_items {
	position: relative;

	.slick-list {
		margin: 0 -10px;
	}
}

.gallery_item {
	cursor: pointer;
	padding: 0 10px;
}

.gallery_figure {
	margin: 0;
}

.gallery_image {
	width: 100%;
}

.gallery_details {
	margin-top: 10px;
}

.gallery_index {
	@include caption_text;
}

.gallery_index_number {}

.gallery_index_label {}

.gallery_item_caption {
	@include caption_text;

	margin: 0;
}

.gallery_box {
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 900000;

	opacity: 0;
	visibility: hidden;
	transition:
		opacity .25s,
		visibility .25s;

	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.gallery_box_items {
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: #fff;
	overflow-y: auto;
	overflow-y: scroll;
	padding: 40px 20px;
}

.gallery_box_item {}

.gallery_box_figure {
	margin: 0 auto 30px;
}

.gallery_box_image {
	max-width: 100%;
	width: 100%;

	margin: 0 auto;
}

.gallery_box_close {
	@include h6;

	position: absolute;
	top: 0;
	right: 0;

	background: #fff;
	border: 0;
	cursor: pointer;
	padding: 11px 15px;

	&:before {
		content: "X";
		font-weight: 700;
		margin-right: 10px;
	}
}