.news {
	@include bubble(true);

	background: #F7F7F7;
	overflow: hidden;
}

.news_inner {
	@include row;
}

.news_header {
	max-width: 900px;

	margin: 0 auto 30px;
	text-align: center;

	@media #{$min_lg} {
		margin-bottom: 48px;
	}
}

.news_title {
	@include h2;
	@include divider;

	color: $blacky;
	margin: 0;

	&:after {
		margin: 10px auto 0;
	}
}

.news_items {

	.slick-list {
		margin: 0 -10px;
	}
}

.news_item {
	display: flex !important;
	padding: 0 10px;
}

.news_item_link {
	position: relative;

	background: #fff;
	box-shadow: 4px 8px 30px 0 rgba(#000, .2);
	color: inherit;
	display: flex;
	text-decoration: none;
}

.news_item_figure {
	margin: 0;
}

.news_item_image {
	width: 100%;

	display: block;
}

.news_item_details {
	padding: 20px;

	@media #{$min_xl} {
		padding: 30px;
	}
}

.news_item_title {
	@include h4;

	color: $blacky;
	margin: 0 0 10px;
}

.news_item_label {
	@include body_text;

	margin: 0 0 30px;
}

.news_item_faux {
	position: absolute;
	bottom: 20px;
	left: 20px;

	color: $orange;
	font-family: 'Muli', sans-serif;
	font-weight: 700;

	@media #{$min_xl} {
		left: 30px;
	}
}
