.topic_block {
	@include bubble(true);

	background: $navy;
}

.topic_block_inner {
	@include row;
}

.topic_rows {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topic_row {
	overflow: hidden;

	@media #{$min_md} {
		align-items: flex-end;
		display: flex;
	}

	&:not(:last-child) {
		margin-bottom: 50px;

		@media #{$min_lg} {
			margin-bottom: 90px;
		}
	}
}

.topic_figure {
	margin: 0;

	@media #{$min_md} {
		width: 50%;
	}

	.topic_row:nth-of-type(odd) & {

		@media #{$min_md} {
			order: 2;
		}
	}
}

.topic_image {
	width: 100%;

	display: block;
}

.topic_wrapper {
	position: relative;

	background: #fff;
	padding: 20px 20px 25px;

	@media #{$min_md} {
		min-height: 400px;
		width: calc(50% + 40px);

		align-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	@media #{$min_lg} {
		margin-bottom: 90px;
		padding: 40px 40px 50px;
	}

	@media #{$min_xl} {
		padding: 70px 75px;
	}

	.topic_row:nth-of-type(odd) & {

		@media #{$min_md} {
			margin-right: -40px;
		}

		@media #{$min_lg} {
			margin-right: -80px;
		}
	}

	.topic_row:nth-of-type(even) & {

		@media #{$min_md} {
			margin-left: -40px;
		}

		@media #{$min_lg} {
			margin-left: -80px;
		}
	}
}

.topic_title {
	@include h3;
	@include divider;

	color: #053E77;
	margin: 0 0 12px;

	@media #{$min_xl} {
		margin-bottom: 22px;
	}

	&:after {
		margin-top: 12px;
	}
}

.topic_caption {
	@include body_text;

	margin: 0;
}
