.page_footer {
	background: $navy;
	color: #fff;
	padding-top: 45px;
}

.page_footer_inner {
	@include row($mq_min_xxl);
}

.page_footer_details {
	margin-bottom: 20px;
	
	@media #{$min_sm} {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.page_footer_group {}

.credit {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: (17 / 12);

	p {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.copyright {
	border-top: 1px solid #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: (17 / 12);
	margin-top: 25px;
	padding: 25px 0;

	a {
		color: inherit;
	}
}