.main_menu_list {
	list-style: none;
	margin: 0;
	padding: 0;

	.sub-menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.main_menu_list_lg {
	display: none;

	@media #{$min_lg} {
		align-items: center;
		display: flex;
		margin-right: 25px;
	}

	@media #{$min_xl} {
		margin-right: 45px;
	}

	> li {

		> a {
			color: inherit;
			display: block;
			font-family: 'Muli', sans-serif;
			font-weight: 700;
			padding: 35px 25px;
			text-decoration: none;
			transition: box-shadow .25s;

			@media #{$min_xl} {
				padding-right: 45px;
				padding-left: 45px;
			}

			&:hover,
			&:focus {
				box-shadow: inset 0 -5px 0 0 $blue;
			}
		}
	}

	.sub-menu {
		display: none;

		> .menu-item {

			> a {
				color: inherit;
				display: block;
				padding: 13px 0;
			}
		}
	}
}

.main_menu_list_sm {
	@include row;

	@media #{$min_lg} {
		display: none;
	}

	> li {

		> a {
			color: inherit;
			display: block;
			font-family: 'Muli', sans-serif;
			font-weight: 700;
			padding: 10px 0;
			text-decoration: none;
			transition: box-shadow .25s;
		}
	}

	.sub-menu {

		> .menu-item {

			> a {
				color: inherit;
				display: block;
				padding: 13px 20px;
			}
		}
	}
}