@mixin button($theme: "default") {
	background: $orange;
	border-radius: 48px;
	color: #fff;
	padding: 14px 30px 16px;
	text-decoration: none;
	transition:
		background .25s,
		color .25s;

	@if $theme == "default" {
		background: $orange;
	} @else {
		background: $green;
	}

	[class*="label"] {
		font-family: 'Muli', sans-serif;
		font-weight: 700;
	}

	[class*="icon"] {
		display: block;
		margin-left: 10px;
	}

	&:hover,
	&:focus {
		background: $navy;
		color: #fff;

		[class*="icon"] {
			animation: boop 1s infinite;
		}
	}
}

@keyframes boop {

	50% {
		transform: translate(4px, 0);
	}
}

.page_skip {
	@include button;

	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, -300%);
	transition: transform .25s;

	&:focus {
		transform: translate(-50%, 40px);
	}
}