$mq_min_ht: 800;
$mq_min_xs: 320;
$mq_min_sm: 500;
$mq_min_md: 760;
$mq_min_lg: 980;
$mq_min_xl: 1360;
$mq_min_xxl: 1640;

$min_xs: "(min-width:" + ($mq_min_xs * 1px) + ")";
$min_sm: "(min-width:" + ($mq_min_sm * 1px) + ")";
$min_md: "(min-width:" + ($mq_min_md * 1px) + ")";
$min_lg: "(min-width:" + ($mq_min_lg * 1px) + ")";
$min_xl: "(min-width:" + ($mq_min_xl * 1px) + ")";
$min_xxl: "(min-width:" + ($mq_min_xxl * 1px) + ")";

$max_xs: "(max-width:" + ($mq_min_xs - 1px) + ")";
$max_sm: "(max-width:" + ($mq_min_sm - 1px) + ")";
$max_md: "(max-width:" + ($mq_min_md - 1px) + ")";
$max_lg: "(max-width:" + ($mq_min_lg - 1px) + ")";
$max_xl: "(max-width:" + ($mq_min_xl - 1px) + ")";
$max_xxl: "(max-width:" + ($mq_min_xxl - 1px) + ")";

$and_max_sm: "and (max-width:" + ($mq_min_sm - 1px) + ")";
$and_max_md: "and (max-width:" + ($mq_min_md - 1px) + ")";
$and_max_lg: "and (max-width:" + ($mq_min_lg - 1px) + ")";
$and_max_xl: "and (max-width:" + ($mq_min_xl - 1px) + ")";
$and_max_xxl: "and (max-width:" + ($mq_min_xxl - 1px) + ")";

$blacky: #003865;
$dark: #1F1F1F;
$navy: #053E77;
$blue: #4FC1E3;
$green: #009681;
$mint: #40C1AC;
$orange: #FC6F20;