.meta {
	font-size: 16px;
	line-height: (22 / 16);
}

.meta_title {
	font: inherit;
	font-weight: 700;
	line-height: inherit;
	margin: 0;
}

.meta_details {
	display: flex;
}

.meta_details_group {
	margin-right: 30px;
}

.meta_detail_label {
	color: inherit;
	display: block;
	text-decoration: none;
}

.meta_address_street {
	display: block;
}

.meta_address_group {}

.meta_address_city {}

.meta_address_state {}

.meta_address_zip {}