.wp-block-quote {
    @include row;
    @include space;

    p {
        @include intro_text;

        margin: 0;
    }

    cite {
        display: block;
        font-style: normal;
        margin-top: 10px;
        text-align: right;

        &:before {
			content: "- ";
		}
    }
}